@import url('./utility.css');

:root {
  --black: #000000;
}

.boxbump {
    margin: 0;
    min-height: 100px;
    display: grid;
    place-items: center;
    
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

.card-image{
  display: flex;
  justify-content: center;
}

#photo-result {
  margin: 20px;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  border: 7px solid var(--black);
}

.fav-photo {
  width: 200px;
  height: 200px;
}


h2 {
  font-size: 16px;
  margin: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    background: linear-gradient(-45deg, #43ab4f, #270b16, #052e3d, #09568c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

main {
  flex: 1 0 auto;
}