@import url('./utility.css');


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    background: linear-gradient(-45deg, #43ab4f, #270b16, #052e3d, #09568c);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.boxbump {
    margin: 0;
    min-height: 100px;
    display: grid;
    place-items: center;
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.boxHead {
    margin-top: 30px;
    margin-bottom: 0;
    border-style: double;
}

.newMarg {
    margin-top: 40px;
    margin-bottom: 40px;
}

.borderIt {
    border-style: solid;
    border-top-style: none;
    margin-bottom: 30px;
}

.dropMarg {
    margin: 0 0 0 0;
}

.card-image{
  display: flex;

}

.padTop {
    padding-top: 20px;
    padding-left: 20px;
}

.margAuto {
    margin: 0 auto;
}

.leftMarg {
    margin-left: 20px;
}

#photo-result {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  border: 7px solid var(--black);

}

.fav-photo {
  width: 200px;
  height: 200px;
}

.margTop {
    padding-top: 20px;
}

.inlineB {
    display: inline-block;
}

h2 {
  font-size: 16px;
  margin: none;
}

/* Joke Modal Text Color Fix */
#punchline, #setup, #jokeheadline {
    color: black;
}

/* Mags Modal */
/* Box contains all to their perspective positions */
#mags-Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 25%;
}

/* Parent to ALL Sections */
.activity {
    position: relative;

    width: 600px;
    height: 190px;
    margin: 0 auto;
    overflow:hidden;
    background-image: var(--myBGgradient);
    border-radius: 5px;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    line-height: 1;
    -webkit-animation-name: topdown;
    -webkit-animation-duration: 0.4s;
    animation-name: topdown;
    animation-duration: 0.4s;
}

@-webkit-keyframes topdown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

@keyframes topdown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

/* All Sections */
/* First Section */
/* Asks for User input */
/* First Form- JS display none/block */
.first-Form {
    position: absolute;
    width: 100%;
    padding-top: 18px;
}
/* First Form- JS add/remove fade */
.first-Fade {
	opacity: 1;
	animation-name: firstFade;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes firstFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Second Section */
/* Forces User Input */
/* Second Form- JS add/remove classes below form */
.second-Form {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}
.move-top-to-place {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
}
.move-top-back {
    bottom: -100%;
}

/* Third Section */
/* Shows Idea fetched from Bored API */
/* Fun Idea- JS add/remove classes below Fun idea */
.fun-Idea {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    padding-top: 22px;
}
.move-left-to-place {
  right: 0;
  -webkit-transition: all 1s, -webkit-transform 1s;
  transition: all 1s, transform 1s;
}
.move-left-back {
    right: -100%;
}

/* Fourth Section */
/* View Stored Idea- if no storage prompted to Section Five */
/* View Stored- JS add/remove classes below to view Stored */
.view-Stored {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 22px;
}
.move-right-to-place {
    left: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
}
.move-right-back {
    left: -100%;
}

/* Fifth Section */
/* Oops No Storage */
/* No Storage- JS add class below if no Storage */
.no-Storage {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
.move-bottom-to-place {
    top: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
}
.move-bottom-back {
    top: -100%;
}

/* First Section - ALL items          */
/*          span - .close             */
/*          form - #text-Selection    */
/*         label - #checkOut          */
/*      textarea - #user-Input        */
/* submit button - #suggest-Submit    */
.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    background: var(--closeBG);
    font-weight: bold;
    color: var(--buttonBG);
    padding: 6px 6px;
  }
  
.close:hover {
    background: var(--closeBGH);
}

#checkOut {
    font-size: 28px;
}

#user-Input {
    width: auto;
    height: 68px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--OutputBB);
    resize: none;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    color: var(--inputANDbuttonfont);
}

/* Second Section - ALL items           */
/*           form - #seriously          */
/*          label - #seriously-Select   */
/*  submit button - #number-Submit      */
/*         select - #number-Select      */
#seriously-Select {
    display: block;
    font-size: 32px;
}

#number-Select {
    display: block;
    width: auto;
    height: auto;
    padding: 3px 10px 4px 10px;
}

/* Third Section - ALL items         */
/*         label - #idea-Head        */
/*          span - #idea-Output      */
/* button button - #try-Again        */
/* button button - #store-Idea       */
#idea-Head{
    padding: 0;
    font-size: 32px;
}

 #idea-Output{
    padding: 10px 0 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--OutputBB);
}
 
/* Fourth Section - ALL items */
/* label - #stored-Idea       */
/* span - #stored-Output      */
/* button button - #go-Back   */
#stored-Idea {
    font-size: 32px;
}

#stored-Output {
    font-weight: 600;
    font-size: 20px;
    color: var(--OutputBB);
}

/* Fifth Section - ALL items    */
/*         label - #no-Stored   */
/* button button - #try-Again   */
#no-Stored {
    font-size: 28px;
}

/* Special Attributes Added */
.top-Space {
    margin-top: 10px;
}
.placement {
    display: inline-block;
    margin: 0 10px 0 10px;
}
.btn-placement {
    display: inline-block;
    margin: 30px 10px 0 10px;
}
.mags-Btn {
    cursor: pointer;
    background-color: var(--buttonBG);
    font-size: 20px;
    color: var(--inputANDbuttonfont);
    border: none;
    border-radius: 5px;
    padding: 5px 10px 7px 10px;  
  }  
  .mags-Btn:hover {
      background-color: var(--buttonBGH);
  }

/* zMaG33z */

.page-footer{
  background:#0c290e62 ;
  border-style: double;
  border-bottom-style: none;
  border-color: white;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* media queies */
@media (max-width: 970px){
    #photo-result {
        width: 300px;
        height: 300px;

    }
}

@media (max-width: 800px){
    #photo-result {
        width: 250px;
        height: 250px;
    }

}

@media (max-width: 600px){
 .activity{
    width: 300px;
    height: 275px;
}

@media (max-width: 500px){
    .valign-wrapper {
        display: none;
    }
    .margAuto {
        display: none;
    }
}

@media (max-width: 400px){
    #photo-result {
        width: 250px;
        height: 250px;
    }
    .fav-photo {
        width: 175px;
        height: 175px;
    }
}

#user-Input {
    width: 260px;
    height: 115px;
}
}